<div class="col-md-3 single-right">
  <div class="w_sidebar">
    <section  class="sky-form">
      <h4><%= t "category" %></h4>
      <div class="row1 scroll-pane">
        <div class="col col-4">
          <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i></label>
        </div>
        <div class="col col-4">
          <label class="checkbox"><input type="checkbox" name="checkbox"><i></i></label>
        </div>
      </div>
    </section>
    <section class="sky-form">
      <h4><%= t "color" %></h4>
        <ul class="w_nav2">
          <li><a class="color1" href="#"></a></li>
        </ul>
    </section>
  </div>
</div>
