<div class="product-main simpleCart_shelfItem">
  <a href="single.html" class="mask"><%= image_tag "p-1.png", class: "img-responsive zoom-img" %></a>
  <div class="product-bottom">
    <h3>Smart Watches</h3>
    <p>Explore Now</p>
    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
  </div>
  <div class="srch srch1">
    <span>-50%</span>
  </div>
</div>
