<div class="about">
  <div class="container">
    <div class="about-top grid-1">
      <div class="col-md-4 about-left">
        <figure class="effect-bubba">
          <%= image_tag "abt-1.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Nulla maximus nunc</h2>
            <p>In sit amet sapien eros Integer dolore magna aliqua</p>
          </figcaption>
        </figure>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
