/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
.logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sub-language, .sub-profile {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  padding: 5px;
  border: 1px solid #ccc;
}

#choose-language:hover .sub-language{
  display: block;
}

#profile:hover .sub-profile{
  display: block;
}

#choose-language, #profile {
  cursor: pointer;
  position: relative;
  color: white;
}

.top-header-left {
  display: flex;
}

.top-header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right.admin li.user-name{
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

span.admin-page a{
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
